<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Extension Configuration</title>
  </head>
  <body>
    <label>
      Toast Display Duration (milliseconds)
      <input id="duration" type="number" value="2000" min="0" required>
    </label>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      var durationInput = document.getElementById('duration');

      window.extensionBridge.register({
        init: function(info) {
          if (info.settings) {
            durationInput.value = info.settings.duration;
          }
        },

        getSettings: function() {
          return {
            duration: Number(durationInput.value)
          };
        },

        validate: function() {
          return durationInput.reportValidity();
        }
      });
    </script>
  </body>
</html>
