<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Action</title>
  </head>
  <body>
    <label>
      Message
      <input id="message" type="text" required>
    </label>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      var messageInput = document.getElementById('message');

      window.extensionBridge.register({
        init: function(info) {
          if (info.settings) {
            messageInput.value = info.settings.message;
          }
        },

        getSettings: function() {
          return {
            message: messageInput.value
          };
        },

        validate: function() {
          return messageInput.reportValidity();
        }
      });
    </script>
  </body>
</html>
